body{
 background-image:url(jet.JPG);
 background-size: cover;
 text-align: center;
}
form{color: #00ff00;
font-family:"courier new",courier, monospace;


}h1{color: #32cd32;"courier new",courier, monospace;
}h2{color: #7fff00;font-family:"lucida console"
,monaco, monospace;
}h3{color: #7fff00;}h4{color: #7fff00;}{
}div input{ background-color:#00ff00;
}